<br>

<!-- Select a Sketch That Draws Your Interest: -->
<section class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" text-align="bottom">    
        <img width=150px height=150px src="/images/<%= project.sketch %>"/>
        <a href="projects/<%= project.id %>">
          <%= project.proj_name %>
        </a>
        <%= project.architect %>
        <%= project.year %>
        <%= project.location %>
      </div>
    <% end %>
  </div>
</section>