<%= erb :_navbar %>
<br>

<!-- Select a Sketch That Draws Your Interest: -->
<section class="container" style="text-align:center">
  <div class="row nav_text">
    <% @projects.each do |project| %>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 proj_images">
        <a href="projects/<%= project.id %>">
          <img width=200px height=200px class="proj_images" src="/images/<%= project.sketch %>"/>
        </a>  
        <dl class="proj_text proj_margins">
          <dt>
            <div><%= project.proj_name %>
          </dt>
          <dd><%= project.architect %></dd>
          <dd><%= project.year %></dd>
          <dd><%= project.location %></dd>
        </dl>
      </div>
    <% end %>
  </div>
</section>